<html>
<head>
<meta charset="UTF-8">
<title>User Information Form</title>
</head>
<body>
{% comment %} <form action="" method="POST">
{{ form.as_p }}
<input type="Submit" name="submit" value="Submit"/>
</form> {% endcomment %}
<form action="" method="POST">{% csrf_token %}
  <textarea name="data" rows="10" cols="10"></textarea>
  <input type="Submit" name="submit" value="Submit"/>
</form>
{% if submitbutton == "Submit" %} 

{% endif %}
{% comment %} {% for item in data %}
    <li>      
        <h1>{{ item }}</h1>
     </li>
    {% endfor %} {% endcomment %}
{{ data }}
</body>
</html>